<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.CampDao">

<insert id="insertCamp" parameterType="camp">

	insert into camp values(
	#{campId}, #{campName}, #{sellerId}, #{campPhone}, #{campAddr}, #{campOwner}, #{status}, #{joinDate}, #{stopDate}, #{latitude}, #{longitude}
	)

</insert>

<select id="selectOne" parameterType="int" resultType="camp">

	select * from camp where campId=#{campId}

</select>

<select id="getStock" parameterType="int" resultType="java.util.HashMap">

	select count(*), s.siteId, s.campSiteStock, bs.stayDay from bookedsite bs join site s where s.siteId  = bs.siteId and stayDay = #{chkIn} group by s.siteId;

</select>

<select id="campSiteSearch" parameterType="int" resultType="java.util.HashMap">

	select c.campName, s.campSiteName, c.campAddr, c.campPhone, s.dayPrice from camp c join site s where c.campId = s.campId and s.siteId = #{siteId};

</select>

<select id="selectPic" parameterType="int" resultType="picture">

	select * from picture where campId=#{campId}

</select>

</mapper>