<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.MileageDao">
  	<select id="selectMileage" parameterType="String" resultType="mileage">
  		select * from mileage where userId = #{userId}
  	</select>
  	<select id="getUsableMileage" parameterType="String" resultType="int">
  		select sum(mileage) from mileage where userId = #{userId}
  	</select>
  	<update id="updateMileage" parameterType="mileage">
  		update mileage set userId = #{userId}
  	</update>
  	<insert id="insertMileage" parameterType="mileage">
  		insert into mileage values(0, #{userId}, #{mileage}, #{startDate}, #{endDate})
  	</insert>
  	<select id="getMyMileage" parameterType="String" resultType="Mileage">
  		select mileage, startDate, endDate from mileage where userId = #{userId}
  		and endDate >= now() order by endDate
  	</select>
  	<select id="selectTotalMileage" parameterType="String" resultType="int">
  		select sum(mileage) from mileage where userId = #{userId}
  	</select>
  </mapper>