<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.MileageDao">
  
  	<select id="selectMileage" parameterType="String" resultType="mileage">
  		select * from mileage where userId = #{userId}
  	</select>
  	
  	<select id="selectTotalMileage" parameterType="String" resultType="int">
  		select sum(mileage) from mileage where userId = #{userId}
  	</select>
  	
  	<update id="updateMileage" parameterType="mileage">
  		update mileage set userId = #{userId}
  	</update>
  	
  	<delete id="deleteMemberMileage" parameterType="String">
  		delete from mileage where userId = #{userId}
  	</delete>
  	
  </mapper>